.button {
  border: 0;
  background-color: #FD6E81;
  color: white;
  font-size: 14px;
  padding: 10px 36px;
  border-radius: 8px;
  opacity: 0.8;
  transition: 0.25s;
  outline: none;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.25s;
}

.button:active {
  transform: scale(0.975);
  transform-origin: center;
}