.body {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2px;
  display: flex;
  box-shadow: 0px 2px 64px 0px var(--shadow);
  -webkit-box-shadow: 0px 2px 64px 0px var(--shadow);
  -moz-box-shadow: 0px 0px 64px 0px var(--shadow);
}

.flex {
  display: none;
  justify-content: flex-end;
}

.description {
  width: 100%;
}

.description > h4 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 0.2rem;
  text-transform: capitalize;
}

.description > p {
  margin: 0;
  font-size: 14px;
}

.flex > p {
  font-size: 16px !important;
  margin-top: 1rem !important;
  margin-bottom: 0;
  text-align: end;
  font-weight: 600;
  border-bottom: 1px solid black;
  width: fit-content;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.grid.active {
  display: grid;
}

.grid h6 {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #9B9B9B;
  margin-bottom: 0.2rem;
}

.grid p {
  margin: 0;
  text-overflow: ellipsis;
  font-size: 16px;
}

.image {
  width: 10rem;
  margin-left: 2rem;
}

.image img {
  width: 10rem;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 767px) {
  .body {
    flex-direction: column-reverse;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 2rem;
  }

  .image img {
    height: 12rem;
    width: 8rem;
  }
  
  .grid {
    display: none;
  }

  .flex {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }
}